/* style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 80%; 
    width: 100%;
    background-color: #E9EFFB;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.column {
    width: 100%; 
    margin-bottom: 10px; 
}
#result {
    width: 100%; 
    max-width: 600px; 
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .column {
        width: 48%; 
        margin-bottom: 0; 
    }
}
h1 {
    font-size: 37px;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.radio-group {
    display: flex;
    align-items: center; 
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.input-group input[type="number"] {
    width: 100%; 
    padding: 15px; 
    border: 1px solid #a8c0ef;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    text-align: center; 
}

.button-group button {
    width: 40%; 
    margin: 0 5px; 
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}
button-group button:hover {
    background-color: #4367b0; 
    color: #fff; 
}
#calculateBtn {
    background-color: #5281df; 
    color: #fff; 
}

#resetBtn {
    background-color: #ac1f4e; 
    color: #fff; 
}
#calculateBtn, #resetBtn {
    transition: background-color 0.3s, color 0.3s; 
}

#calculateBtn:hover, #resetBtn:hover {
    background-color: #4367b0; 
    color: #fff; 
}
#result {
    padding: 20px;
    border-radius: 5px;
    background-color: #d3dff7;
    text-align: center; 
    display: none;
}

#result h2 {
    font-size: 32px;
    text-align: left; 
    margin-bottom: 10px;
}

#result p {
    margin-bottom: 15px;
    font-size: 25px; 
}

#result button {
    background-color: #5281df;
    color: #fff;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

#result button:first-child {
    margin-right: 10px; 
}